<%- include('../layout/admin/layout') %>
    <%- include('../partials/admin-header-checking') %>

        <div class="container-fluid">
            <div class="row  border-start">
                <main class="px-md-4 icons " style="margin-left: 18%;width: 80%; margin-top: 6%;">
                    <div class="row d-flex justify-content-between">
                        <div class="col-md-8">
                            <h1 class="mt-5">Add Product</h1>
                            <br>
                            <form action="/admin/addProduct" method="post" enctype="multipart/form-data"
                                class="bg-white p-5">
                                <div class="form-group">
                                    <label for="productName">Product Name:</label>
                                    <input type="text" name="ProductName" class="form-control bg-light" id="productName"
                                        placeholder="Enter product name" pattern="^\S.*$"
                                        title="No white spaces allowed" required />
                                </div><br>

                                <div class="form-group">
                                    <label for="productDescription">Product Description:</label>
                                    <textarea class="form-control bg-light" name="Description" id="productDescription"
                                        rows="4" placeholder="Enter product description" pattern="^\S.*$"
                                        title="No white spaces allowed" required></textarea>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="productSpecification">Product Specification:</label>
                                    <textarea class="form-control bg-light" pattern="^\S.*$"
                                        title="No white spaces allowed" name="Specification1" id="productSpecification1"
                                        placeholder="Enter product Specification" required></textarea>
                                    <label for="productSpecification2">Product Specification:</label>
                                    <textarea class="form-control bg-light" name="Specification2"
                                        id="productSpecification" placeholder="Enter product Specification"
                                        pattern="^\S.*$" title="No white spaces allowed" required></textarea>
                                    <label for="productSpecification3">Product Specification:</label>
                                    <textarea class="form-control bg-light" name="Specification3"
                                        id="productSpecification" placeholder="Enter product Specification"
                                        pattern="^\S.*$" title="No white spaces allowed" required></textarea>
                                    <label for="productSpecification4">Product Specification:</label>
                                    <textarea class="form-control bg-light" name="Specification4"
                                        id="productSpecification" placeholder="Enter product Specification"
                                        pattern="^\S.*$" title="No white spaces allowed" required></textarea>
                                </div>
                                <br>

                                <div class="border p-3 mb-3 bg-light "> <!-- Added bg-light and text-center classes -->
                                    <h3>Media</h3>
                                    <div class="form-group text-center ">
                                        <label for="productImage">Drag and drop or click to upload an image:</label>
                                        <br><br><br><br>
                                        <input type="file" name="images" class="form-control-file" id="productImage"
                                            accept="image/jpeg, image/png, image/webp" onchange="validateImage()"
                                            multiple style="display: none;" required />
                                    </div>
                                    <!-- uploaded images -->
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="uploaded-image">
                                                <img src="" alt="Uploaded Image 1" id="uploadedImage1" class="img-fluid"
                                                    data-index="1">
                                                <button class="btn btn-danger btn-sm delete-image"
                                                    style="display: none;" data-index="1">Delete</button>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="uploaded-image">
                                                <img src="" alt="Uploaded Image 2" id="uploadedImage2" class="img-fluid"
                                                    data-index="2">
                                                <button class="btn btn-danger btn-sm delete-image"
                                                    style="display: none;" data-index="2">Delete</button>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="uploaded-image">
                                                <img src="" alt="Uploaded Image 3" id="uploadedImage3" class="img-fluid"
                                                    data-index="3">
                                                <button class="btn btn-danger btn-sm delete-image"
                                                    style="display: none;" data-index="3">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="border p-3 mb-3">
                                    <h2>Pricing</h2>
                                    <div class="form-group">
                                        <label for="basePrice">Base Price:</label>
                                        <input type="number" name="Price" class="form-control bg-light" id="basePrice"
                                            placeholder="Enter base price" required />
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="discountAmount">Discount Amount:</label>
                                        <input type="number" name="DiscountAmount" class="form-control bg-light"
                                            id="discountAmount" placeholder="Enter discount amount" required />
                                    </div>
                                </div>


                                <div class="border p-3 mb-3">
                                    <h2>Stock</h2>

                                    <div class="form-group">
                                        <label for="quantity">Quantity:</label>
                                        <input type="number" name="AvailableQuantity" class="form-control bg-light"
                                            id="quantity" placeholder="Enter quantity" pattern="^\S.*$"
                                            title="No white spaces allowed" required />
                                    </div>
                                </div>

                                <!-- <div class="col-md- my-5"> -->
                                <div class="bg-white p-3">
                                    <div class="form-group">
                                        <br>
                                        <label for="category">Category:</label>
                                        <select class="form-select bg-light" id="category" name="Category" required
                                            onchange="toggleVariationFields()">
                                            <option value="" selected disabled>Select a category</option>
                                            <% if (categories && categories.length> 0 ) {%>
                                                <% categories.forEach((category)=>{ %>
                                                    <option value="<%=category.Name %> ">
                                                        <%=category.Name %>
                                                    </option>
                                                    <% }) %>
                                                        <% } %>
                                        </select>
                                    </div><br>
                                    <!--  -->
                                    <div id="variationFields" style="display: none;">
                                        <div class="form-group">
                                            <label for="variation">Variation:</label>
                                            <input type="text" class="form-control bg-light" name="Variation1"
                                                id="variation" placeholder="Enter variation" />
                                        </div>
                                    </div>
                                    <!--  -->
                                    <!-- Size Dropdown -->
                                    <div id="sizeDropdown" style="display: none;">
                                        <div class="form-group">
                                            <label for="size">Select Size:</label>
                                            <select class="form-select bg-light" id="size" name="Variation2">
                                                <option value="0.8 L">0.8 L</option>
                                                <option value="1 L">1 L</option>
                                                <option value="1.5 L">1.5 L</option>
                                                <option value="5 L">5 L</option>
                                                <option value="10 L">10 L</option>

                                                <!-- Add more options as needed -->
                                            </select>
                                        </div>
                                    </div>
                                    <!--  -->
                                    <div class="form-group">
                                        <br>
                                        <label for="brandName">Brand Name:</label>
                                        <select name="BrandName" class="form-select bg-light" id="brand" required>
                                            <option value="" selected disabled>Select a Brand</option>
                                            <option value="MRF">MRF</option>
                                            <option value="CEAT">CEAT</option>
                                            <option value="3m">3M</option>
                                            <option value="CarCare">Apollow</option>
                                            <option value="CarCare">JSW</option>
                                            <option value="CarCare">Shell</option>
                                            <option value="CarCare">Auto Pearl</option>

                                        </select>
                                    </div><br>
                                    <div class="form-group">
                                        <label for="tags">Tags:</label>
                                        <input type="text" class="form-control bg-light" name="Tags" id="tags"
                                            placeholder="Enter tags" required />
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary ms-3">Add Product</button>
                                <!-- </div> -->

                        </div>

                        </form>
                    </div>
                </main>
            </div>
        </div>
        </body>
        <script>
            function toggleVariationFields() {
                var category = document.getElementById('category').value.trim();
                var sizeDropdown = document.getElementById('sizeDropdown');
                var variationFields = document.getElementById('variationFields');

                console.log("Selected Category:", JSON.stringify(category));
                // Add this line to log the selected category

                if (category === 'Lubricants') {
                    // console.log("Inside if condition for Lubricants");  // Add this line to log when it's inside the if condition
                    sizeDropdown.style.display = 'block';
                    variationFields.style.display = 'none';
                } else {
                    // console.log("Inside else condition");  // Add this line to log when it's inside the else condition
                    sizeDropdown.style.display = 'none';
                    variationFields.style.display = 'block';
                }
            }


            // Trigger the function on page load
            toggleVariationFields();
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/js/script.js"></script>
        <script>function validateImage() {
                const imageInput = document.getElementById('imageInput');
                const selectedFile = imageInput.files[0];

                if (selectedFile) {
                    const allowedTypes = ['image/jpeg', 'image/png', 'image/webp'];

                    if (!allowedTypes.includes(selectedFile.type)) {
                        alert('Invalid image type. Supported types: JPEG, PNG, WebP');
                        // Clear the input to prevent submitting invalid files
                        imageInput.value = '';
                    } else {
                        // You can handle additional validation or display a success message
                        console.log('Valid image selected');
                    }
                }
            }</script>

        </html>