<aside id="sidebar" class="sidebar col-md-2" style="top:5rem;"> 
    <div class="list-group vh-100 border-end icons" style="border-radius: 0; background-color: rgb(217, 248, 234);">
      <!-- <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar"> -->
                 <!-- Profile Section --> 
                <div class="text-center mt-3">
                    <img src="/assets/img444.PNG" alt="Profile Picture" class="rounded-circle" width="80">
                    <h4 class="mt-2">John Doe</h4>
                    <p>Position</p>
                </div>
                <!-- Navigation Links -->
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-box"></i> Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-list"></i> Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i> Orders</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><i class="fas fa-users"></i>Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-money-bill-wave"></i> Payments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-star"></i> Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-images"></i> Banners</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-tags"></i> Coupons</a>
                    </li>
                </ul>
                <!-- Logout Button -->
                <div class="mt-auto">
                    <a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </div>
            <!-- </nav> -->
    </div>
</aside>
<style>
    #sidebar {
      float: left;
    }
</style>
    </header>