<footer>
    
</footer>
    <!-- Include Bootstrap JS (Optional) -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/assets/jquery.exzoom.js"></script>
    <script src="/js/script.js"></script>
    <!-- <script src="https://unpkg.com/js-image-zoom@0.7.0/js-image-zoom.js" type="application/javascript"></script> -->
    <script type="text/javascript">
        
        $(function(){

        $("#exzoom").exzoom({
      // options here
    });

    });
    </script>
   
 
    
   
    
</body>

</html>