<!-- Add this before the closing </body> tag -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0-beta3/js/bootstrap.bundle.min.js"></script>
</head>

<body style="overflow-x: hidden;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light container-fluid">
        <div class="container">
            <!-- Logo (left side) -->
            <a class="navbar-brand" href="/home">
                <img class="logo" src="/assets/car_care_logo-removebg-preview.png" alt="Helloo">
            </a>
            
            <!-- Navbar Toggler for small screens -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navigation links (middle) -->
            <div class="collapse navbar-collapse text-center" id="navbarNav">
                <ul class="navbar-nav mx-auto pl-2">
                    <li class="nav-item space">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item space">
                        <a class="nav-link" href="/shop">Shop</a>
                    </li>
                    <li class="nav-item space">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item space">
                        <a class="nav-link" href="/Contact">Contact</a>
                    </li>
                </ul>

                   <!-- Icon options (right corner) -->
            <div class="navbar-nav ms-auto">
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle text-decoration-none text-dark" id="usernameLink"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user pl-3" style="margin-top:13px;"></i>
                    </a>
                    <ul class="dropdown-menu text-center" aria-labelledby="usernameLink">
                        <li><a class="dropdown-item" href="/profile">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/logout" id="logoutLink">Logout</a></li>
                    </ul>
                </div>
                <li class="nav-item space_i">
                    <a class="nav-link" href="/wishlist"><i class=" text-secondary fa fa-heart"></i></a>
                </li>
                <li class="nav-item space_i">
                    <a class="nav-link" href="/cart"><i class=" text-secondary fa fa-shopping-cart"></i></a>
                </li>
            </div>
            </div>
        </div>
    </nav>
</body>
