</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light nav container-fluid">
    <div class="container">
        <!-- Logo (left side) -->
        <a class="navbar-brand" href="#">
            <img class="logo" src="/assets/car_care_logo-removebg-preview.png" alt="Helloo">
        </a>

        <!-- Navigation links (middle) -->
        <ul class="navbar-nav mx-auto">
            <li class="nav-item space">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item space">
                <a class="nav-link" href="/user/shop">Shop</a>
            </li>
            <li class="nav-item space">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item space">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item space">
                <a class="nav-link" href="#">Category</a>
            </li>
        </ul>

        <!-- Icon options (right corner) -->
        <ul class="navbar-nav">
            <li class="nav-item space_i">
                <a class="nav-link" href="/user/signup"><i class="fa fa-user"></i></a>
            </li>
            <li class="nav-item space_i">
                <a class="nav-link" href="#"><i class="fa fa-search"></i></a>
            </li>
            <li class="nav-item space_i">
                <a class="nav-link" href="#"><i class="fa fa-heart"></i></a>
            </li>
            <li class="nav-item space_i">
                <a class="nav-link" href="#"><i class="fa fa-shopping-cart"></i></a>
            </li>
        </ul>
    </div>
</nav>