<footer>
    
</footer>
    <!-- Include Bootstrap JS (Optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/js-image-zoom@0.7.0/js-image-zoom.js" type="application/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>var options1={
        width : 400,
        height : 250,
        zoomWidth:500,
        offset : {vertical:0,horizontal:10},
        scale : 1.5
        
      }
     
      var options2 = {
    fillContainer: true,
    offset: {vertical: 0, horizontal: 10}
    };
      new ImageZoom(document.getElementById("selectedImage"),options2);
      console.log("working");
                </script>
</body>

</html>