<!-- Add this before the closing </body> tag -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0-beta3/js/bootstrap.bundle.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg  navbar-light nav container-fluid">
        <div class="container ">
            <!-- Logo (left side) -->
            <a class="navbar-brand" href="#">
                <img class="logo" src="/assets/car_care_logo-removebg-preview.png" alt="Helloo">
            </a>

            <!-- Navigation links (middle) -->
            <ul class="navbar-nav mx-auto">
                <li class="nav-item space ">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item space">
                    <a class="nav-link" href="/shop">Shop</a>
                </li>
                <li class="nav-item space">
                    <a class="nav-link" href="/login">About</a>
                </li>
                <li class="nav-item space">
                    <a class="nav-link" href="/login">Contact</a>
                </li>
                <li class="nav-item space">
                    <a class="nav-link" href="/login">Category</a>
                </li>
            </ul>
         
            <!-- Icon options (right corner) -->
            <!-- <ul class="navbar-nav">
                <li class="nav-item space_i">
                <a class="nav-link" href="/login"><i class="fa fa-user"></i></a>
            </li>
             -->
             <!-- <div class="dropdown">
                <a href="#" class="dropdown-toggle text-decoration-none text-dark" id="usernameLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-user"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="usernameLink">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/logout" id="logoutLink">Logout</a></li>
                </ul>
            </div> -->
            
      
                 <li class="nav-item space_i">
                <a class="nav-link" href="/login"><i class="fa fa-user"></i></a>
            </li>
         
       
                <li class="nav-item space_i">
                    <a class="nav-link" href="/login"><i class=" text-secondary fa fa-search"></i></a>
                </li>
                <li class="nav-item space_i">
                    <a class="nav-link" href="/login"><i class=" text-secondary fa fa-heart"></i></a>
                </li>
                <li class="nav-item space_i">
                    <a class="nav-link" href="/login"><i class=" text-secondary fa fa-shopping-cart"></i></a>
                </li> 
             </ul>
        </div>
    </nav>