body{
    overflow-x: hidden;
    /* height: 500vh;
    padding-top: 50vw; */
    /* background: linear-gradient(250deg, #0fa7f9,#a7c1cf); */
margin-top: 0vh;
}

.banner-1{
    height:100% ;
    width: 100vw;
    background: linear-gradient(250deg, #0fa7f9,#a7c1cf);
  
}
/* Define a class for a linear gradient background */
.gradient-background {
    background: linear-gradient(310deg, #0fa7f9,#a7c1cf);
}
.banner-container{
   width: 80vw;
   height: 80vh;
  
}
.whiteTitle{
    font-size: 4vw;
    font-weight: 600;;
    color: white;
}
.span{
     color: black;
}
.text{
    width: 50vw;
    height: auto;
    margin-top: 24vh;
}
.img-div{
    max-width:100%;
    height: auto;
    position: relative;
    top: -50vh;
    left: auto;
    margin-left: 39vw;
}
.subtext{
    font-weight: 700;
    font-size: x-large;
    margin-left: 5vw;
}
.button{
    margin-left: 12vw;
}
.row{
    height: 50vh;
}

/*banner page end*/
.sl{
    background: linear-gradient(310deg, #0fa7f9,#75c1ea);
height:100% ;
width: 100vw;
}
@media (max-width: 769px){
    .sl-img-div{
        margin-left: 21vw;
        width: 80vw;
        height: auto;
        
    }
    .sl-img{
        height: 45vw;
        width: fit-content;
    }
}
.sl-img{
    height:auto;
    width: 30vw;
    margin-top: 10vh;
    margin-left: 7vw;
}
.link{
    /* margin-top: 4vh; */
    
    font-weight: 500;
    padding-left: 16vw;
}
.sl-head{
    margin-left: 17.2vw;
}
/* Third Layer */
.tl{
    /* background: linear-gradient(230deg, #2aa3e4,#cfdce2); */
    background: transparent;
height:100% ;
width: 100vw;
}
.head-tl{
  font-weight: 500;
  font-size: 3vw;
  color: black;
}
.s-head-tl{
    font-weight: 400;
}
.card-tl{
    background:transparent;
    border: transparent;
}
/* .tp{
    margin-bottom: 3vh;
} */
.price{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: darkgoldenrod;
}
.text-bold{
    font-weight: 500;
}
.fl{
   margin-left: -2vw;

    background: linear-gradient(230deg, #2aa3e4,#cfdce2);
height:100vh ;
width: 100vw;
}
.sl-2{
    background: transparent;
    width: 100%;
    height: 100%;
}
.fl-title{
    color: black;
    font-weight: 700;
    font-size: 3rem;
}
/* blog layer */
.bl{
    background: linear-gradient(230deg, #2aa3e4,#cfdce2);
height:100vh ;
width: 100vw;
}
.mt-card2{
    margin-top: 15vh;
}
.card-bg{
    background-color: transparent;
    border:none;
}
/* I layer */
.i-layer{
    background: linear-gradient(230deg, #2aa3e4,#cfdce2);
    height:80vh ;
    /* background: url('/assets/i-layer.PNG'); */

    width: 100vw;
}








.instagram-container {
     /* Replace with your background image URL */
    background-size: cover;
    background-position: center;
    padding: 50px;
    text-align: center;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    color: #000000;
}

.description {
    font-size: 18px;
    color: #000000;
    margin-top: 0.75rem;
}

.follow-button {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1rem;
    color: #000000;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.follow-button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}
@media (max-width: 790px){
  .m-div{
    justify-content: center;
    align-items: center;
    margin-left: 15vw;
  }
  .m-div p{
    font-size: xx-large;
  }
  .p1{
 font-size: 180px;
 margin-left: 4vw;
  }
  .p2{

  }
  .p3{
   
    margin-left: 10vw;
  }
    }