<%- include('../layout/user/layout') %>
<link rel="stylesheet" href="/stylesheet/addAddress.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<%- include('../partials/user-header') %>
<div class="modal fade" id="addAddressModal" tabindex="-1" aria-labelledby="addAddressModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addAddressModalLabel">Add Address</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center">Add Address</h2>
            
            <form action="/addAddress" method="post">
              <div class="mb-3">
                <label for="firstName" class="form-label">Full Name</label>
                <input type="text" class="form-control" id="firstName" name="Name" pattern="^\S.*$" title="No white spaces allowed" required>
              </div>
              
              <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <textarea class="form-control" id="address" name="address" rows="3" pattern="^\S.*$" title="No white spaces allowed"  required></textarea>
              </div>
              
              <div class="mb-3">
                <label for="city" class="form-label">City</label>
                <input type="text" class="form-control" id="city" name="city" pattern="^\S.*$" title="No white spaces allowed" required>
              </div>
              
              <div class="mb-3">
                <label for="state" class="form-label">State</label>
                <input type="text" class="form-control" id="state" pattern="^\S.*$" title="No white spaces allowed" name="state" required>
              </div>
              
              <div class="mb-3">
                <label for="zip" class="form-label">Zip Code</label>
                <input type="text" class="form-control" id="zip" name="zip" pattern="\d{6}" title="Must be 6 digits numeric" required>
              </div>

              <div class="mb-3">
                <label for="mobileNumber" class="form-label">Mobile Number</label>
                <input type="tel" class="form-control" id="mobileNumber" name="mobileNumber"  pattern="\d{10}" title="Must be 10 digits mobaile number" required>
              </div>
              
              <button type="submit" class="btn btn-primary">Add Address</button>
            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
