<%- include('../layout/user/layout') %>
<%- include('../partials/user-header') %>
<section class="text-center">
    <div class="card p-5  mt-3 bg-white border-radius shadow d-inline-block">
        <div
          class="bg-light ms-5"
          style="border-radius:200px; margin-left: 2.5vw; height:200px; width:200px; "
        >
          <br />
          <i class="checkmark text-success me-3 " style="font-size: 100px;">✓</i>
        </div>
        <h1 class="text-success">Success</h1>
        <dt>We received your purchase request;<br /> <br />we'll be in touch with you shortly!</dt>
        <br>
        <div >
          <% if(orderId) {%>
          <a href="/order/<%=orderId %>" class="btn btn-success px-5 vw-80">Track Order</a>
          <% } else {%>
            <a href="/orderHistory" class="btn btn-success px-5 vw-80">Track Order</a>
            <% } %>
        </div>
        <br>
          <a href="/shop" class="text-dark fw-bold text-decoration-none">Go To Shop</a>
    </div>
    </section>

<%- include('../partials/user-footer') %>