<%- include('../layout/user/layout') %>
<link rel="stylesheet" href="/stylesheet/user-shop.css">
<%- include('../partials/user-header') %>
    <div class="container-fluid banner">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Shop</h1>
            </div>
        </div>
    </div>
    <!-- cards -->
    <div class="container mt-4">
        <div class="row">
            <!-- First Card -->
            <div class="col-md-3">
                <div class="card">
                    <img src="/assets/61z3lCWv8kL._AC_UL480_FMwebp_QL65_.webp" class="card-img-top" alt="Image 1">
                    <div class="card-body">
                        <h5 class="card-title">Card 1</h5>
                        <p class="card-text">Some text for Card 1.</p>
                    </div>
                </div>
            </div>

            <!-- Second Card -->
            <div class="col-md-3">
                <div class="card">
                    <img src="/assets/3.webp" class="card-img-top" alt="Image 2">
                    <div class="card-body">
                        <h5 class="card-title">Card 2</h5>
                        <p class="card-text">Some text for Card 2.</p>
                    </div>
                </div>
            </div>
            <!-- Third Card -->
            <div class="col-md-3">
                <div class="card">
                    <img src="/assets/2.webp" class="card-img-top " alt="Image 3">
                    <div class="card-body">
                        <h5 class="card-title">Card 3</h5>
                        <p class="card-text">Some text for Card 3.</p>
                    </div>
                </div>
            </div>

            <!-- Fourth Card -->
            <div class="col-md-3">
                <div class="card">
                    <img src="/assets/1.webp" class="card-img-top" alt="Image 4">
                    <div class="card-body">
                        <h5 class="card-title">Card 4</h5>
                        <p class="card-text">Some text for Card 4.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--  -->
    <div class="container mt-4">
        <div class="row">
            <!-- First Card -->
            <div class="col-md-3">
                <div class="card">
                    <img src="/assets/61z3lCWv8kL._AC_UL480_FMwebp_QL65_.webp" class="card-img-top" alt="Image 1">
                    <div class="card-body">
                        <h5 class="card-title">Card 1</h5>
                        <p class="card-text">Some text for Card 1.</p>
                    </div>
                </div>
            </div>

            <!-- Second Card -->
            <div class="col-md-3">
                <div class="card">
                    <img src="/assets/3.webp" class="card-img-top" alt="Image 2">
                    <div class="card-body">
                        <h5 class="card-title">Card 2</h5>
                        <p class="card-text">Some text for Card 2.</p>
                    </div>
                </div>
            </div>
            <!-- Third Card -->
            <div class="col-md-3">
                <div class="card">
                    <img src="/assets/2.webp" class="card-img-top " alt="Image 3">
                    <div class="card-body">
                        <h5 class="card-title">Card 3</h5>
                        <p class="card-text">Some text for Card 3.</p>
                    </div>
                </div>
            </div>

            <!-- Fourth Card -->
            <div class="col-md-3">
                <div class="card">
                    <img src="/assets/1.webp" class="card-img-top" alt="Image 4">
                    <div class="card-body">
                        <h5 class="card-title">Card 4</h5>
                        <p class="card-text">Some text for Card 4.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--  -->
    <div class="container mt-4">
        <div class="row">
            <!-- First Card -->
            <div class="col-md-3">
                <div class="card">
                    <img src="/assets/61z3lCWv8kL._AC_UL480_FMwebp_QL65_.webp" class="card-img-top" alt="Image 1">
                    <div class="card-body">
                        <h5 class="card-title">Card 1</h5>
                        <p class="card-text">Some text for Card 1.</p>
                    </div>
                </div>
            </div>

            <!-- Second Card -->
            <div class="col-md-3">
                <div class="card">
                    <img src="/assets/3.webp" class="card-img-top" alt="Image 2">
                    <div class="card-body">
                        <h5 class="card-title">Card 2</h5>
                        <p class="card-text">Some text for Card 2.</p>
                    </div>
                </div>
            </div>
            <!-- Third Card -->
            <div class="col-md-3">
                <div class="card">
                    <img src="/assets/2.webp" class="card-img-top " alt="Image 3">
                    <div class="card-body">
                        <h5 class="card-title">Card 3</h5>
                        <p class="card-text">Some text for Card 3.</p>
                    </div>
                </div>
            </div>

            <!-- Fourth Card -->
            <div class="col-md-3">
                <div class="card">
                    <img src="/assets/1.webp" class="card-img-top" alt="Image 4">
                    <div class="card-body">
                        <h5 class="card-title">Card 4</h5>
                        <p class="card-text">Some text for Card 4.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--  -->
    <div class="container mt-4">
        <div class="row">
            <!-- First Card -->
            <div class="col-md-3">
                <div class="card">
                    <img src="/assets/61z3lCWv8kL._AC_UL480_FMwebp_QL65_.webp" class="card-img-top" alt="Image 1">
                    <div class="card-body">
                        <h5 class="card-title">Card 1</h5>
                        <p class="card-text">Some text for Card 1.</p>
                    </div>
                </div>
            </div>

            <!-- Second Card -->
            <div class="col-md-3">
                <div class="card">
                    <img src="/assets/3.webp" class="card-img-top" alt="Image 2">
                    <div class="card-body">
                        <h5 class="card-title">Card 2</h5>
                        <p class="card-text">Some text for Card 2.</p>
                    </div>
                </div>
            </div>
            <!-- Third Card -->
            <div class="col-md-3">
                <div class="card">
                    <img src="/assets/2.webp" class="card-img-top " alt="Image 3">
                    <div class="card-body">
                        <h5 class="card-title">Card 3</h5>
                        <p class="card-text">Some text for Card 3.</p>
                    </div>
                </div>
            </div>

            <!-- Fourth Card -->
            <div class="col-md-3">
                <div class="card">
                    <img src="/assets/1.webp" class="card-img-top" alt="Image 4">
                    <div class="card-body">
                        <h5 class="card-title">Card 4</h5>
                        <p class="card-text">Some text for Card 4.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
<%- include('../partials/user-footer') %>