<%- include('../../layout/user/layout') %>
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .card {
            width: 300px;
            border: none;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .card-body {
            text-align: center;
        }

        .card-title {
            color: #007bff;
        }

        .form-group {
            margin-bottom: 1.5rem;
        }

        label {
            font-weight: bold;
        }

        input {
            border-radius: 5px;
        }
    </style>


<div class="container sec d-flex justify-content-center align-items-center">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center">Enter Email</h5>
            <form class="form-group" action="/forgetPass" method="post">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Your email...">
            
                <% if(message){ %>
                    <p class="text-danger" style="font-size: medium;"><%= message.error %></p>
                <% } %>
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

    

        <%- include('../../partials/user-footer') %>