<%- include('../../layout/user/layout') %>
    <link rel="stylesheet" href="/stylesheet/user-signup.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .card {
            width: 300px;
            border: none;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .card-body {
            text-align: center;
        }

        .card-title {
            color: #007bff;
        }

        .form-group {
            margin-bottom: 1.5rem;
        }

        label {
            font-weight: bold;
        }

        input {
            border-radius: 5px;
        }
    </style>

    <%- include('../../partials/user-header') %>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Enter Email</h5>
                <form class="form-group" action="/forgetPass" method="post">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your email...">
                
                <% if(message){ %>
                    <p style="color: red; font-size: medium;"><%= message.NOuser %></p>
                <% } %>
                <button class="btn btn-primary">Submit</button>
                
                </form>
            </div>
        </div>
    </div>
    

        <%- include('../../partials/user-footer') %>