<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .card {
            max-width: 400px;
            border: 1px solid #ccc;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            background-color: #fff;
            text-align: center;
        }

        h2 {
            color: #007bff;
        }

        .form-group {
            margin-top: 20px;
        }

        .submit-btn {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 20px;
        }
    </style>
    <title>Password Reset</title>
</head>
<body>

<div class="card">
    <h2>Password Reset</h2>
    <% if(message) {%>
        <div class="bg-danger text-dark text-align"><%= message.notMatching %></div>
        <% } %>
    <form action="/setNewPass/<%= email %>" method="post">
        <div class="form-group">
            <input type="password" class="form-control" name="newPass" placeholder="New Password" required />
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="ConfirmPass" placeholder="Confirm Password" required />
        </div>

        <button type="submit" class="btn btn-primary submit-btn">Reset Password</button>
    </form>
</div>

<!-- Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
